<div class="container">
    <div class="box1">
        <h2 style="color: rgb(40,13,95); font-size: 37px;"><span style="color:rgb(118,69,217); font-size: 40px;"> CAKE </span> makes our world go round..</h2>
        <br>
        <br>
        <p>CAKE token is at the heart of the PancakeSwap ecosystem. Buy it, win it, farm it, spend it, stake it... heck, you can even vote with it!</p>
        <br>
        <br>
        <button role="button" class="btn btn-full-tall"> <h6 class="nome">Buy CAKE</h6></button>
        <span><a class="btn btn-empty" style="border: none;" href="#">Learn</a></span>

    </div>
    <div class="box2">
        <div class="animate__animated animate__shakeY bunny animate__infinite infinite animate__slower"><img src="https://pancakeswap.finance/images/home/cake/top-left@2x.webp" alt=""
                width="300px" height="300px"></div>
        <div class="animate__animated animate__shakeY bunny animate__infinite infinite animate__slower"><img src="https://pancakeswap.finance/images/home/cake/top-right@2x.webp" alt=""
                width="300px" height="300px"></div>
        <div class="animate__animated animate__shakeY bunny animate__infinite infinite animate__slower"><img src="https://pancakeswap.finance/images/home/cake/coin@2x.webp" alt="" width="300px"
                height="300px"></div>
        <div class="animate__animated animate__shakeY bunny animate__infinite infinite animate__slower"><img src="https://pancakeswap.finance/images/home/cake/bottom-right@2x.webp" alt=""
                width="300px" height="300px"></div>
    </div>

</div>
<div class="box3">
    <p> Total supply<br><span>263.424.609</span></p>
    <p> Burned to this day <br><span>359.363.904</span></p>
    <p> Market capitalization <br><span> 2 bilions </span></p>
    <p> Current emissions <br><span>14.25/block</span></p>
</div>
