.box2{
    float: right;
    margin-right:27%;
    margin-top: 17%;
   
 
}
.box2 img{
    margin: -530px 0px -700px;
    width: auto;
    margin-right:-300px;
  
    

}
.box1{
    padding: 70px;
    margin: 10%;
    font-size: 20px;
    color: rgb(118,69,217);
    font-weight: 600;
    line-height: 1.5;
    text-decoration: justify;
}


.container{
display: flex;
justify-content: space-around;
margin-bottom: -200px;
margin-top: -150px;
}
.box3{
   display: grid;
   grid-template-columns: auto auto auto auto;
   align-items: center;
   justify-content: center; 
   font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
   

}
.box3 > p{
    margin: 50px;
   padding: 10px;
   border-left: 1px solid rgb(214, 199, 199);
   color: grey;
   
   
}
.box3 p > span{
    color: rgb(118,69,217);
}
.nome{
    margin: -15px;
}