.container-fluid {
    height: 100%;
}
.contHeader {
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: var(--pancake-main-dark);
}
.colView {
    display: flex;
    justify-content: flex-end;
    margin-right: 50px;
}
.colView h6 {
    border-radius: 17px;
    border: 1px solid #D7CAEC;
    background-color: #EEEAF4;
    padding: 15px 60px 15px 15px;
}
.colView h6:hover,
.colView h6:focus {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.cardCont {
    width: 100%;
    height: 100%;
}
.contPic {
    width: 310px;
    height: 150px;
    border: 1px solid #cacaca;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border-bottom-left-radius: 50px;
    margin: 20px;
    justify-content: space-around;
    box-shadow: 0 4px 2px -2px gray;
}
.nftUpper {
    height: 65%;
    width: 100%;
    display: flex;
    align-items: center;
}
.nftUpper img {
    border-radius: 10px;
}
.nftLower {
    height: 35%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    color: var(--pancake-main-dark);
}
.diffCol {
    color: var(--pancake-main-light);
    font-size: 12px;
}
.circle {
    height: 90px;
    width: 90px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    margin-top: 50px;
    margin-left: 5px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle img {
    border-radius: 50%;
    width: 80px;
    height: 80px;
}
.pagCont {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--pancake-main-dark);
}
.dropdown-menu {
    background-color: #EEEAF4;
    min-width: 151px;
    max-width: 151px;
    border: 1px solid #D7CAEC;
    border-top: none;
    top: 38px;
    border-radius: 0px;
}
.dropdown-menu li a {
    font-size: 14px;
    color: var(--pancake-main-dark);
}
.sortBy {
    position: relative;
    font-size: 12px;
    color: var(--pancake-main-light);
    top: -20px;
    right: -50px;
}
.collectionCont {
    height: 150px;
    width: 100%;
    background: linear-gradient(0.25turn, #E6FDFF, #F1F0FF);
}
.colLeft .col .h1 {
    font-size: 64px;
    color: #7645D9;
}
.collectionSubCont {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
}