.earnContainer {
    height: 680px;
    background-color: #ECEFF4;
}
.earnRow {
    height: 430px;
}
.earnCol-1 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.earnCol-1 img {
    position: absolute;
    width: 65%;
    height: 85%;
}
.img1,
.img2 {
    background-clip: text;
    animation-name: shine;
    animation-duration: 5s;
    animation-iteration-count: infinite; 
}
.img3 {
    background-clip: text;
    animation-name: shine2;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
@keyframes shine {
    0% {
        transform: translatex(0px) translatey(0px)
    }
    50% {
        transform: translatex(20px) translatey(35px);
    }
    100% {
        transform: translatex(0px) translatey(0px)
    }
}
@keyframes shine2 {
    0% {
        transform: translatex(0px) translatey(0px)
    }
    50% {
        transform: translatex(12px) translatey(27px);
    }
    100% {
        transform: translatex(0px) translatey(0px)
    }
}
.earnCol-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.earnCol-2 h1,
.earnCol-2 span {
    font-size: 40px;
}
.earnCol-2 span,
.small,
.changeCol {
    color: #7645D9;
}
.earnCol-2 h1,
.colRow1 h5,
.percent {
    color: #280D5F;
}
.cta-section {
    display: flex;
    align-items: baseline;
}
.light-blue {
    color: #21C7D4;
}
.button-explore {
    border-radius: 16px;
    padding: 10px;
    width: 110px;
    text-align: center;
    background-color: #21C7D4;
    text-decoration: none;
    color: white;
}
.cta-section h6 {
    font-size: 16px;
}
.earnRow2 {
    height: 170px;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.colRow1 {
    height: 56px;
    display: flex;
    align-items: center;
}
.colRow2 {
    height: 112px;
    display: flex;
}
.colSyrup1,
.colSyrup2,
.colSyrup3,
.colSyrup4,
.colSyrup5 {
    width: 100%;
    height: 90%;
}
.colSyrup1,
.colSyrup2,
.colSyrup3,
.colSyrup4 {
    border-right: 1px solid #D7CAEC;
}
.apr {
    color: #8379B0;
}
.colRow2 {
    background-clip: text;
    animation-name: shine3;
    animation-duration: 3s;
}
@keyframes shine3 {
    0% {
        transform: translatex(0px) translatey(0px)
    }
    95% {
        transform: translatex(0px) translatey(0px);
    }
    100% {
        transform: translatex(0px) translatey(80px);
    }
}
.disab {
    display: none;
}