@import '../trade-anything/trade-anything.component.css';

.box-sec{
  background-color:var(--pancake-secondary);
}

.box-sec2{
  background-color:var(--pancake-secondary);
}

.bottom2 h2{
  color: #fff;
}

.bottom2 h4{
 color:#fff;
}

.btn-empty:hover{
  opacity:1;
  text-decoration:underline;
}
