<div class="container-fluid activityCont">
    <div class="container activitySubCont">
        <div class="col colLeft">
            <div class="col">
                <h1 class="h1">
                    <strong>
                        Activity
                    </strong>
                </h1>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid my-5">
    <div class="container tabCont">
        <div class="row">
            <div class="col col-1">
                <h5 class="h6 small">FILTER BY</h5>
                <div class="row">
                    <div class="col">
                        <div ngbDropdown class="d-inline-block">
                            <h6 class="btn regularText" id="dropdownForm1" ngbDropdownToggle>Collections</h6>
                            <div ngbDropdownMenu aria-labelledby="dropdownForm1 myCont">
                                <div class="row rowUp my-3">
                                    <input [(ngModel)]="searchTerm" (keyup)="search($event)" type="text" placeholder="Search..">
                                </div>
                                <div class="row rowDown">
                                    <div class="row">
                                        <div class="col">
                                            <h5 class="h6 small">Name</h5>
                                        </div>
                                        <div class="col colDescription">
                                            <h5 class="h6 small">Filter</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="container my-3" role="group">
                                    <div class="row">
                                        <div class="col">
                                            <label for="kittens" class="h6 small pagCont">Kittens</label>
                                        </div>
                                        <div class="col colDescription">
                                            <div class="check {{checkedClassK}}" (click)="filterByK('Kittens Meow Meow')" >

                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <label for="pancake" class="h6 small pagCont">Pancake Squad</label>
                                        </div>
                                        <div class="col colDescription">
                                            <div class="check {{checkedClassP}}" (click)="filterByP('Pancake Squad')">

                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <label for="pancake" class="h6 small pagCont">Gamester Apes</label>
                                        </div>
                                        <div class="col colDescription">
                                            <div class="check {{checkedClassG}}" (click)="filterByG('Gamester Apes')">

                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <label for="pancake" class="h6 small pagCont">ShitPunks</label>
                                        </div>
                                        <div class="col colDescription">
                                            <div class="check {{checkedClassS}}" (click)="filterByS('ShitPunks')">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <h6 class="h6" (click)="filter('Listed')">Listed</h6>
                <h6 class="h6" (click)="filter('Delisted')">Delisted</h6>
                <h6 class="h6" (click)="filter('Modified')">Modified</h6>
                <h6 class="h6" (click)="filter('Sold')">Sold</h6>
            </div>
            <div class="col col-2">
                <a role="button" class="btn btn-empty" id="border" (click)="clearFilter()">Clear</a>
                <a class="btn btn-full-small a-padding" (click)="reloadCurrentPage()">Refresh</a>
            </div>
        </div>
        <table class="table table-borderless my-5">
            <thead>
                <tr>
                    <th scope="col">
                        <h6 class="h6 small">ITEM</h6>
                    </th>
                    <th scope="col">
                        <h6 class="h6 small">EVENT</h6>
                    </th>
                    <th scope="col">
                        <h6 class="h6 small">PRICE</h6>
                    </th>
                    <th scope="col">
                        <h6 class="h6 small">FROM</h6>
                    </th>
                    <th scope="col">
                        <h6 class="h6 small text-center">TO</h6>
                    </th>
                    <th scope="col">
                        <h6 class="h6 small text-center">DATE</h6>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="myRow" *ngFor="let i of filterEvent | filter:searchKey:'title' | 
                paginate: { 
                    itemsPerPage: 8,
                    currentPage: page, 
                    totalItems: totalLength
                }">
                    <td class="firstCol">
                        <div class="col imgCont" style="background: url({{i.img}}) center; background-size: contain;">

                        </div>
                        <div class="col descriptionCol mx-2">
                            <div class="col">
                                <h6 class="h6 small">
                                    {{i.description}}
                                </h6>
                            </div>
                            <div class="col">
                                <h6 class="h6 diffCol">
                                    {{i.title}}
                                </h6>
                            </div>
                        </div>
                    </td>
                    <td>
                        <h6 class="h6 myH6 eventSection" [classList]="i.event == 'Sold' ? 'soldText' : 'regularText'">
                            {{i.event}}
                        </h6>
                    </td>
                    <td>
                        <div class="col descriptionCol mx-2">
                            <div class="col">
                                <h6 class="h6 diffCol my-3">
                                    {{i.cryptoPrice}}
                                </h6>
                            </div>
                            <div class="col">
                                <h6 class="h6 small">
                                    ${{i.dollarPrice}}
                                </h6>
                            </div>
                        </div>
                    </td>
                    <td>
                        <h6 class="h6 diffCol myH6">
                            {{i.user}}
                        </h6>
                    </td>
                    <td class="text-center">
                        <h6 class="h6 diffCol myH6">
                            -
                        </h6>
                    </td>
                    <td class="text-center">
                        <h6 class="h6 diffCol myH6">
                            {{i.date | date: 'dd/MM/yyyy'}}
                        </h6>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="container pagCont text-center">
            <pagination-controls (pageChange)="page = $event"></pagination-controls>
        </div>
    </div>
</div>