.subt{
  font-size: 24px;
  font-weight: 600;
  line-height: 1.1;
  color:var(--pancake-main-dark);
}

.bgt{
  color:var(--pancake-secondary);
}

.jumbo button{
    border:none;
    opacity:1;
    padding:10px;
}

.jumbo-c{
  background: var(--bg-gradient-primary) !important;
  margin-top:-3rem;
}

.jumbo button:hover{
  opacity: var(--pancake-hover-opacity);
}

.dwUojQ {
  fill: rgb(31, 199, 212);
}

.jGReT{
  fill: rgb(189, 194, 196);
}

.buttons{
  background-color: rgb(239, 244, 245);
  border-radius: 16px;
  border: 1px solid rgb(233, 234, 235);
  margin-top: 13px;
}

.first-b{
  border: 0px;
  border-radius: 16px;
  cursor: pointer;
  display: inline-flex;
  font-family: inherit;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.03em;
  line-height: 1;
  opacity: 1;
  outline: 0px;
  transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
  background-color: #fff;
  padding:10px 15px;
}

.other-b{
  border: 0px;
  border-radius: 16px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.03em;
  line-height: 1;
  opacity: 1;
  outline: 0px;
  transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
  margin-left:2px;
}

.space{
  display:flex;
  flex-direction:row;
  align-items:center;
  justify-content: space-between;
  height: 200px;
}

.space p{
  color:var(--pancake-main-dark);
  padding:0 10px;
  margin-top: 25px;
}

.buttons-no-m{
  background-color: rgb(238, 234, 244);
  border-radius: 16px;
  border: 1px solid rgb(215, 202, 236);
  margin-top:10px;
}

.first-b-viol{
  border: 0px;
  border-radius: 16px;
  cursor: pointer;
  display: inline-flex;
  font-family: inherit;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.03em;
  line-height: 1;
  opacity: 1;
  outline: 0px;
  transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
  color: #fff;
  padding:10px 15px;
  background: var(--pancake-main-light);
}

.other-b-viol-text{
  border: 0px;
  border-radius: 16px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.03em;
  line-height: 1;
  opacity: 1;
  outline: 0px;
  transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
  margin-left:2px;
  color: var(--pancake-main-light);
}

.col-inp {
  max-height: 70%;
  display: flex;
  align-items: center;
  color: var(--pancake-main-dark);
}

.colRight-y {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.colRight-y input, select {
  border-radius: 17px;
  border: 1px solid #D7CAEC;
  background-color: #EEEAF4;
  height: 40px;
  width: 250px;
  padding-left: 15px;
  color: var(--pancake-main-light);
}
.colRight-y ::-webkit-input-placeholder {
  text-align: start;
  color: var(--pancake-main-light);
}

#only-input{
  width:160px;
  margin:1rem;
}

.space2{
  display:flex;
  flex-direction:row;
}
