/* ---------------------------- START Navbar Section ------------------------ */
html, body{
  overflow-x: hidden;
}
:root{
  --animate-duration: 7s !important;
}
.logo {
  width:60%;
}
a{
  font-size: 16px;
}
.a-padding{
  padding-top:0.2em !important;

}
.navbar-collapse{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}
.navbar-light .navbar-nav .nav-link{
  color: var(--pancake-main-light);
  padding-right: 1rem;
  padding-left: 1rem;
}
.dropdown-item{
  color: var(--pancake-main-light);
  height:45px;
  padding-top:10px;
}
.dropdown-toggle::after{
  display:none;
}
.dropdown:hover .dropdown-menu{
  display: block;
}
.dropdown-menu{
  margin-top: 0;
  border: 1px solid rgb(231, 227, 235);
  border-radius: 16px;
  min-width:15rem;
}
.navbar{
  border-bottom: 1px solid rgb(231, 227, 235);
}
.dropdown-divider{
  border: 1px solid rgb(231, 227, 235);
}
.dropdown-item:focus, .dropdown-item:hover {
  color: var(--pancake-main-light);
  background-color: rgb(239, 244, 245);
}
.bg-hover:hover{
  background-color: rgb(239, 244, 245);
  border-radius:16px;
}
.nav-link{
  transition: none;
}
.navbar-light .navbar-nav .nav-link:hover{
  color: var(--pancake-main-light);
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
  color: var(--pancake-main-light);
}
.btn-full-small{
  background-color: var(--pancake-primary);
  color:#fff;
  box-shadow: var(--pancake-btn-shadow);
  margin-top:0.3em;
}
.btn{
  opacity:1;
}
.btn:hover{
  color:#fff;
  opacity: var(--pancake-hover-opacity);
}
.kDWlca {
  fill: var(--pancake-main-dark);
  float:right;
}

.anim a span{
  margin-left:0.3em;
}

.anim a svg{
  transition: transform .2s;
}
.anim a svg:hover{
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.2);
}
.iaPfuZ{
  fill: var(--pancake-main-light);
  margin-right: 0.5rem;
  opacity:1;
}
.iaPfuZ:hover{
  opacity: var(--pancake-hover-opacity);
}
.cSawQi {
  fill: var(--pancake-main-light);
  opacity: 1;
}
.cSawQi:hover{
  opacity: var(--pancake-hover-opacity);
}
.bg-white{
  background-color: #fff;
  width:13rem;
  height:20rem;
  overflow-y:scroll;
  overflow-x:hidden;
}
.langs{
  color:var(--pancake-main-dark);
  opacity: 1;
}
.langs:hover{
  opacity:var(--pancake-hover-opacity);
  background-color: #fff;
}
/* ---------------------------- END Navbar Section ------------------------ */
