<div class="container">
    <div class="box1">
        <h2 style="color: rgb(40,13,95); font-size: 27px;"><span style="color:rgb(118,69,217); font-size: 30px;"> CAKE</span>spins
            our world .</h2>
        <br>
        <br>
        <p>The CAKE token is at the heart of the PancakeSwap ecosystem.<br>Buy it,
            win it, cultivate it, spend it,
            bet it...<br>heck, you can even rate it !</p>
        <br>
        <br>
        <button class="btn">Buy CAKE</button>
        <span><a class="link" href="#">Learn</a></span>

    </div>
    <div class="box2">
        <div class="img4"><img src="https://pancakeswap.finance/images/home/cake/top-left@2x.webp" alt=""
                width="300px" height="300px"></div>
        <div class="img1"><img src="https://pancakeswap.finance/images/home/cake/top-right@2x.webp" alt=""
                width="300px" height="300px"></div>
        <div class="img2"><img src="https://pancakeswap.finance/images/home/cake/coin@2x.webp" alt="" width="300px"
                height="300px"></div>
        <div class="img3"><img src="https://pancakeswap.finance/images/home/cake/bottom-right@2x.webp" alt=""
                width="300px" height="300px"></div>
    </div>
</div>
<div class="box3">
    <p> Total supply<br><span>263.424.609</span></p>
    <p> Burned to this day <br><span>359.363.904</span></p>
    <p> Market capitalization <br><span>1,9 bilions dollar</span></p>
    <p> Current emissions <br><span>14.25/blocco</span></p>
</div>
