<div class="container-fluid">
    <div class="container">
        <div class="col col1">
            <h3 class="h3 mx-3">
                <strong>
                    FAQs
                </strong>
            </h3>
        </div>
        <div class="col col2">
            <div class="col2col1">
                I sold an NFT, where’s my BNB?
            </div>
            <div class="btn-empty col2col2">
                Details 
            </div>
        </div>
        <div class="col col3">
            <div class="col2col1">
                When can I trade other NFT Collections?
            </div>
            <div class="btn-empty col2col2">
                Details 
            </div>
        </div>
        <div class="col col4">
            <div class="col2col1">
                How can I list my NFT collection on the Market?
            </div>
            <div class="btn-empty col2col2">
                Details 
            </div>
        </div>
        <div class="col col5">
            <div class="col2col1">
                What are the fees?
            </div>
            <div class="btn-empty col2col2">
                Details 
            </div>
        </div>
    </div>
</div>