<div class="container-fluid">
    <div class="container">
        <div class="col colLeft">
            <div class="col">
                <h1 class="h1">
                    <strong>
                        NFT Market
                    </strong>
                </h1>
            </div>
            <div class="col">
                <h4 class="h4">
                    <strong>
                        Buy and Sell NFTs on BNB Smart Chain
                    </strong>
                </h4>
            </div>
        </div>
        <div class="col colRight">
            <input placeholder="Search address" type="text">
        </div>
    </div>
</div>
<psclone-newest-collections></psclone-newest-collections>
<psclone-hot-collections></psclone-hot-collections>
<psclone-newest-arrivals></psclone-newest-arrivals>
<psclone-faqs></psclone-faqs>