.container-fluid {
    height: 180px;
    width: 100%;
    background: linear-gradient(0.25turn, #E6FDFF, #F1F0FF);
}
.container {
    display: flex;
    height: 100%;
    width: 100%;
}
.colLeft {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.colLeft .col {
    max-height: 70%;
    display: flex;
    align-items: center;
    color: var(--pancake-main-dark);
}
.colLeft .col .h1 {
    font-size: 64px;
    color: #7645D9;
}
.colRight {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.colRight input {
    border-radius: 17px;
    border: 1px solid #D7CAEC;
    background-color: #EEEAF4;
    height: 40px;
    width: 250px;
    padding-left: 15px;
    color: var(--text-secondary);
}
.colRight ::-webkit-input-placeholder {
    text-align: start;
    color: var(--text-secondary);
}