<!--Trade Anything CTA VALENTINA -->
<div class="container-fluid box-height box-sec">
  <div class="container p-5 box2-height box-sec2">
    <div class="row">
      <div class="col-md-5 order-md-5">
        <div class="father">
            <div class="child1">
                <img src="../../../../assets/images/BNB@2x.webp" alt="Lunar bunny" class="animate__animated animate__shakeY bunny animate__infinite infinite animate__slower">
            </div>
            <div class="child2">
              <div class="child2-child">
                  <img src="../../../../assets/images/BNB@2x.webp" alt="Lunar bunny" class="animate__animated animate__shakeY bunny animate__infinite infinite animate__slower">

                  <div class="sibling1">
                    <img src="../../../../assets/images/BTC@2x.webp" alt="" class="animate__animated animate__shakeY bunny animate__infinite infinite animate__slower">
                  </div>
                  <div class="sibling2">
                    <img src="../../../../assets/images/CAKE@2x.webp" alt="" class="animate__animated animate__shakeY bunny animate__infinite infinite animate__slower">
                  </div>
              </div>
            </div>
        </div>
      </div>
      <div class="col-md-7 bottom order-md-7 bottom2">
        <h2 class="display-4"><span class="diff-col">Trade</span> anything. No registration, no hassle.</h2>
        <h4>Trade any token on Binance Smart Chain in seconds, just by connecting your wallet.</h4>
        <a href="#" role="button" class="btn btn-full-tall">Trade Now</a>
        <a href="#" role="button" class="btn btn-empty" id="border">Learn</a>
      </div>
    </div>
  </div>
</div>
