<div class="container2">
    <div class="foto-destra">
        <div class="img10"><img src="https://pancakeswap.finance/images/home/cake/top-right@2x.webp" alt=""
                width="300px" height="300px"></div>
        <div class="img9"><img src="https://pancakeswap.finance/images/home/cake/top-left@2x.webp" alt=""
                width="300px" height="300px"></div>
        <div class="img11"><img src="https://pancakeswap.finance/images/home/cake/bottom-right@2x.webp" alt=""
                width="300px" height="300px">

        </div>
    </div>
    <div class="contenuti">
        <h1>Get started in seconds.</h1>
        <br>
        <p>
            Connect your crypto wallet to get started
             <br> to use the app in seconds.
            No registration needed.
        </p>
        <br>
        <br>
        <span><a class="link" href="#">Find out how to get started</a></span> <br>
        <br>
        <br>
        <button class="btn">Connect the wallet</button>
    </div>
    <div class="foto-sinistra">
        <div class="img10"><img src="https://pancakeswap.finance/images/home/cake/top-right@2x.webp" alt=""
                width="300px" height="300px"></div>
        <div class="img11"><img src="https://pancakeswap.finance/images/home/cake/bottom-right@2x.webp" alt=""
                width="300px" height="300px">
            <div class="img9"><img src="https://pancakeswap.finance/images/home/cake/top-left@2x.webp" alt=""
                    width="300px" height="300px"></div>


        </div>
    </div>
</div>
