.container-fluid {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#FFFFFF, #D8CBED );
}
.container, .row {
    height: 50%;
    width: 80%;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.row {
    display: flex;
    justify-content: center;
    align-items: center;
}
.col h2 {
    font-size: 40px;
    color: var(--pancake-main-dark);
}
.col .h6 {
    color: var(--pancake-main-light);
}
.secondH6 {
    margin-top: -25px;
}
.row .usedCol {
    height: 250px;
    border-radius: 20px;
    margin: 0px 10px;
    max-width: 250px;
    background-color: #fff;
}
.usedCol .col {
    display: flex;
    height: 25%;
    width: 100%;
}
.colSvg {
    justify-content: flex-end;
}
.svg1 {
    fill: var(--pancake-main-dark);
}
.diffCol .h2 {
    color: var(--pancake-main-light);
}
.diffCol2 h2 {
    color: #1FC7D4;
}
.svg2 {
    fill: #1FC7D4;
}
.diffCol3 h2 {
    color: #ED4B9E;
}
.svg3 {
    fill: #ED4B9E;
}
