<div class="container-fluid earnContainer">
    <div class="container">
        <div class="row earnRow">
            <div class="col earnCol-1">
                <img class="img1" src="../../../../assets/earn-section/pie.png" alt="">
                <img class="img2" src="../../../../assets/earn-section/stonks.png" alt="">
                <img class="img3" src="../../../../assets/earn-section/folder.png" alt="">
            </div>
            <div class="col earnCol-2">
                <h1>
                    <span>Earn</span> passive income <br> with crypto
                </h1>
                <h6 class="h6 small my-3">
                    PancakeSwap makes it easy to make your crypto work for you.
                </h6>
                <div class="cta-section my-3">
                    <a class="btn btn-full-tall" href="http://">
                        Explore
                    </a>
                    <a href="#" role="button" class="btn btn-empty" id="border">Learn</a>
                </div>
            </div>
        </div>
        <div class="row earnRow2 mx-3">
            <div class="col col-md-5 colRow1">
                <h5 class="syrup mx-2" id="firstTitle">
                    Top <span class="changeCol mx-1">Syrup Pools</span>
                </h5>
                <h5 class="farm mx-2 disab" id="secondTitle">
                    Top <span class="changeCol mx-1">Farms</span> 
                </h5>
            </div>
            <div class="col colRow2" id="secondSyrup">
                <div class="colSyrup1 mx-2">
                    <h6 class="h6 small changeCol">
                        IFO CAKE
                    </h6>
                    <h6 class="h6 percent">
                        62.976%
                    </h6>
                    <h6 class="h5 small apr">
                        APR
                    </h6>
                </div>
                <div class="colSyrup2 mx-2">
                    <h6 class="h6 small changeCol">
                        Auto CAKE
                    </h6>
                    <h6 class="h6 percent">
                        61.769%
                    </h6>
                    <h6 class="h5 small apr">
                        APR
                    </h6>
                </div>
                <div class="colSyrup3 mx-2">
                    <h6 class="h6 small changeCol">
                        Manual CAKE
                    </h6>
                    <h6 class="h6 percent">
                        48.876%
                    </h6>
                    <h6 class="h5 small apr">
                        APR
                    </h6>
                </div>
                <div class="colSyrup4 mx-2">
                    <h6 class="h6 small changeCol">
                        Stake CAKE - Earn ACH
                    </h6>
                    <h6 class="h6 percent">

                    </h6>
                </div>
                <div class="colSyrup5 mx-2">
                    <h6 class="h6 small changeCol">
                        Stake CAKE - Earn ACH
                    </h6>
                    <h6 class="h6 percent">

                    </h6>
                </div>
            </div>
            <div class="col colRow2 disab" id="secondFarm">
                <div class="colSyrup1 mx-2">
                    <h6 class="h6 small changeCol">
                        ACH-USDT
                    </h6>
                    <h6 class="h6 percent">
                        329.976%
                    </h6>
                    <h6 class="h5 small apr">
                        APR
                    </h6>
                </div>
                <div class="colSyrup2 mx-2">
                    <h6 class="h6 small changeCol">
                        BCOIN-BNB
                    </h6>
                    <h6 class="h6 percent">
                        222.362%
                    </h6>
                    <h6 class="h5 small apr">
                        APR
                    </h6>
                </div>
                <div class="colSyrup3 mx-2">
                    <h6 class="h6 small changeCol">
                        AOG-BUSD LP
                    </h6>
                    <h6 class="h6 percent">
                        207.835%
                    </h6>
                    <h6 class="h5 small apr">
                        APR
                    </h6>
                </div>
                <div class="colSyrup4 mx-2">
                    <h6 class="h6 small changeCol">
                        GM-BNB LP
                    </h6>
                    <h6 class="h6 percent">
                        167.797%
                    </h6>
                    <h6 class="h5 small apr">
                        APR
                    </h6>
                </div>
                <div class="colSyrup5 mx-2">
                    <h6 class="h6 small changeCol">
                        ERTHA-BNB LP
                    </h6>
                    <h6 class="h6 percent">
                        157.898%
                    </h6>
                    <h6 class="h5 small apr">
                        APR
                    </h6>
                </div>
            </div>
        </div>
    </div>    
</div>